

ul{
    padding: 0;
    list-style-type: none;
}

:focus{
    outline: none;
}


.sidebar{
    position: absolute;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fafafa;
    border: 1px solid #fff;
    top: 0;
    bottom: 0;
    z-index: 2;
}

    .toggle-sidebar{
        display: block;
        position: absolute;
        top: 43px;
        width: 34px;
        height: 34px;
        background-repeat: no-repeat;        
        background-color: #fafafa;
        border: 1px solid #fff;
        box-shadow:0 0 2px #aaa;
        cursor: pointer;
    }


#right-sidebar{
    width: 250px;
    right: 0;
    box-shadow: 0 0 2px #555;    
}

    #right-sidebar .toggle-sidebar{
        left: -25px;
        background-image: url(../img/arrow_left_32.png);
    }
    
    #right-sidebar .toggle-sidebar.visible{
        background-image: url(../img/arrow_right_32.png);
    }

    #invite-users{
        float: right;
        display: block;
        padding:10px 20px;
        color: #fff;
        background: linear-gradient(#8AC3EB, #70B5E6);
        border: 1px solid #fff;
        border-radius: 2px;
        box-shadow: 0 0 1px #1C6CA6;
        text-shadow: 0 1px 0 #1C6CA6;
        cursor: pointer;
    }
    
    #users-list, #chatbox{
        position: absolute;
        left: 5px;
        right: 5px;
    }
    
    #users-list{
        top: 98px;
        height: 347px;
        padding: 3px;
        background: #fff;
    }
    
    #users-list li:last-child .user{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
        #users-list .user{
            position: relative;
            float: left;
            margin-bottom: 10px;
            margin-left: 9px;
            border: 1px solid #fff;
            box-shadow: 0 0 1px #222;
        }
        
            #users-list .user img{
                float: left;
            }
            
            #users-list .user h1{
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                padding: 2px;
                margin: 0;
                background: #222;
                border-top: 1px solid #444;
                font-size: 13px;
                color: #fff;
                text-align: center;
                opacity: .7;
                box-shadow: 0 -1px 0 #222;
            }
    
    #chatbox{
        top: 550px;
        bottom: 5px;
        background: #f7f7f7;
        border: 1px solid #fff;
        box-shadow: 0 0 1px #777;
    }
    
        #chatbox-message-list{
            position: absolute;
            top:33px;
            bottom: 0;
            left: 7px;
            right: 7px;
            padding-right: 10px;
            overflow-y: scroll;
        }
        
            #chatbox-message-list .message{
                border-bottom: 1px solid #fff;
                box-shadow:0 1px 0 #ccc;
            }
            
            #chatbox-message-list .message h1{
                margin: 7px 2px 5px 5px;
                color: #15f;
                font-size: 15px;
                font-weight: normal;
                text-shadow: 0 1px 0 #fff;
            }
            
            #chatbox-message-list .message h1:after{
                content: " :"
            }
            
            #chatbox-message-list .message p{
                margin: 2px 0 5px 0;
                color: #444;
                font-size: 13px;
            }         
    
        #chatbox header{
            position: relative;
            padding: 5px 7px;
            background: #fff;
            border-bottom: 1px solid #bbb;
            box-shadow: 0 1px 0 #fff;
        }
        
            #chatbox header input{
                width: 96%;
                padding: 5px 3px;
                border: none;
                color: #444;
            }
        
        #chatbox .message{
            
        }
        
        


#left-sidebar{
    width: 250px;
    left: 0;
    box-shadow: 0 0 2px #555;    
}

    #left-sidebar .toggle-sidebar{
        right: -25px;
        background-image: url(../img/arrow_right_32.png);
    }
    
    #left-sidebar .toggle-sidebar.visible{
        background-image: url(../img/arrow_left_32.png);
    }

    #poi-filters{
        position: absolute;
        left: 12px;
        right: 0;
        top: 30px;
    }

        #poi-filters .filter{
            display: block;
            float: left;
            height: 32px;
            width: 32px;        
            margin-left: 10px;
            border: 1px solid #eee;
            background-color: #fcfcfc;
            background-repeat: no-repeat;
            background-position: center center;
            box-shadow: 0 0 1px #fff;
            cursor: pointer;
            transition-duration: .2s;
        }
        
        #poi-filters .filter.selected, #poi-filters .filter:hover{
            border: 1px solid #fff;
            box-shadow: 0 0 1px #15f;
            background-color: #fff;
        }
        
        #poi-filters .filter.landmark{
            background-image: url(../img/landmark_20.png);
        }
        
        #poi-filters .filter.shopping{
            background-image: url(../img/shopping_20.png);
        }
        
        #poi-filters .filter.restaurant{
            background-image: url(../img/restaurant_20.png);
        }
        
        #poi-filters .filter.accomodation{
            background-image: url(../img/accomodation_20.png);
        }
        
        #poi-filters .filter.event{
            background-image: url(../img/event_20.png);
        }
        
    
    #poi-list{
        position: absolute;
        left: 10px;
        right: 10px;
        top: 103px;
        bottom: 0;
    }
    
        #poi-list .poi{
            position: relative;
            width: 100%;
            height: 102px;
            float: left;
            clear: left;
            margin-bottom: 20px;
            background: linear-gradient(#f2f2f2, #eee);
            border: 1px solid #fff;
            box-shadow: 0 0 1px #aaa;
        }
        
            #poi-list .poi > img{
                float: left;
                margin-left: 12px;
                margin-top: 12px;
                border: 1px solid #fff;
                box-shadow: 0 0 1px #bbb;
            }
            
            #poi-list .poi h1{
                float: left;
                width: 150px;
                margin-top: 12px;
                margin-left: 10px;
                font-size: 16px;
                color: #222;
                text-shadow: 0 1px 0 #fff;
            }
            
            #poi-list .votes{
                position: absolute;
                right: 11px;
                bottom: 11px;
            }
    
            #poi-list .poi .vote-up, #poi-list .poi .vote-down{
                display: block;
                width: 49px;
                height: 24px;
                float: left;
                margin-left: 9px;
                padding: 7px 1px 3px 7px;
                border-bottom: 1px solid #ddd;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: right center;
                background-image: linear-gradient(#fafafa, #eee);
                box-shadow: inset 0 2px 3px #aaa;
            }
            
            #poi-list .poi .vote-up img, #poi-list .poi .vote-down img{
                float: left;
            }
            
            #poi-list .poi .vote-up span, #poi-list .poi .vote-down span{
                float: right;
                margin-top: 3px;
                margin-right: 4px;
                font-size: 15px;
                font-weight: bold;
                color: #222;
                text-shadow: 1px 1px 0 #fff;
            }
    
#main-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 270px;
    right: 270px;
    background: #eee;
}

    #search-bar{
        height: 120px;
        background: #fff;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 1px 0 #fff;
    }
    
        #search-input-container{
            display: table;
            position: relative;
            top: 50px;
            width: 300px;
            height: 40px;
            padding: 0 0 0 5px;
            margin: 0 auto;
            border: 1px solid #ddd;
            border-radius: 5px;            
        }
        
            #search-input{
                display: table-cell;
                width: 252px;
                height: 100%;
                border: none;
                color: #333;
            }
            
            #search-btn{
                display: table-cell;
                width: 40px;
                height: 100%;
                border-left: 1px solid #ccc;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../img/search_32.png);
                background-color: #fafafa;
                box-shadow: inset 1px 0 0 #fff;
                cursor: pointer;
            }
            
    #map{
        height: 100%;
    }