<!DOCTYPE html>
<html ng-app>    
<head>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
</head>
<body>
    
    <section id="left-sidebar" class="sidebar" ng-controller="PoisCtrl">
        
        <a class="toggle-sidebar visible"></a>
        
        <nav id="poi-filters">
            <ul>
                <li ng-repeat="category in categoryNames()"><a class="filter {{category}}" ng-click="setCategory(category)" ng-class="{selected: category == categories.selected}"></a></li>                  
            </ul>
        </nav>
        <ul id="poi-list">
            <li ng-repeat="poi in categories.data[categories.selected]">
                <article class="poi">
                    <img src="{{poi.img}}"/>
                    <h1>{{poi.title}}</h1>
                    <section class="votes">
                        <a class="vote-up">
                            <img src="img/thumbs_up_24.gif"/>
                            <span class="value">{{poi.votes.up}}</span>
                        </a>
                        <a class="vote-down">
                            <img src="img/thumbs_down_24.gif"/>
                            <span class="value">{{poi.votes.down}}</span>
                        </a>
                    </section>
                </article>
            </li>            
        </ul>
    </section> <!--left sidebar-->
    
    <section id="right-sidebar" class="sidebar" ng-controller="UsersCtrl">
        
        <a class="toggle-sidebar visible"></a>
        
        <a id="invite-users" title="Invite Users To Participate in the planning of the trip">Invite Users</a>
        
        <ul id="users-list">
            <li ng-repeat="user in users">
                <article class="user">
                    <img src="{{user.img}}"/>
                    <h1>{{user.name}}</h1>                    
                </article>
            </li>            
        </ul>
        
        <section id="chatbox">
            <header>
                <input type="text" id="chatbox-input" placeholder="Type message and press ENTER ..."/>
            </header>
            <ul id="chatbox-message-list">
                <li>
                    <article class="message" ng-repeat="msg in messages">
                        <h1>{{msg.sender}}</h1>
                        <p>{{msg.content}}</p>
                    </article>
                </li>
            </ul>
        </section>
        
    </section> <!--right sidebar-->
    
    
    <section id="main-content">
        <header id="search-bar">
            <section id="search-input-container">
                <input type="text" id="search-input" placeholder="Enter city name ..."/>
                <a id="search-btn"></a>
            </section>
        </header>
        <section id="map">
        
        </section>
        <section id="poi-details-container">
            <section id="poi-details-nav">                
            </section>
            <section id="poi-details">
                <article class="poi-details-page">                    
                </article>
            </section>
        </section>
    </section> <!--main content-->
    
</body>
<script type="text/javascript">
        
        // basic design demo
        var mapSection = document.getElementById('map');
        
        var mapOptions = {
            center: new google.maps.LatLng(44.5403, -78.5463),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        
        var map = new google.maps.Map(mapSection, mapOptions);
        
                
        // ng
        
        function PoisCtrl($scope) {
            
            $scope.categories = {
                
                data: {                                   
                   'landmark': [
                    
                        {img: 'img/poi-pic.png', title: 'London Eye!', votes: {up: 4, down: 1}},
                        {img: 'img/poi-pic.png', title: 'Buckingham Palace', votes: {up: 3, down: 1}},
                        {img: 'img/poi-pic.png', title: 'Eiffel Tower', votes: {up: 4, down: 1}}
                    
                    ],
                   'shopping': [
                    
                        {img: 'img/poi-pic.png', title: 'London Mall', votes: {up: 4, down: 1}},
                        {img: 'img/poi-pic.png', title: 'Lidl', votes: {up: 3, down: 1}},
                        {img: 'img/poi-pic.png', title: 'Carrefour', votes: {up: 4, down: 1}}    
                    
                    ],
                   'restaurant': [
                    
                        {img: 'img/poi-pic.png', title: 'London Boutique', votes: {up: 4, down: 1}},
                        {img: 'img/poi-pic.png', title: 'British Pizza', votes: {up: 3, down: 1}},
                        {img: 'img/poi-pic.png', title: 'Cake Mania', votes: {up: 4, down: 1}}                    
                    
                    ],
                   'accomodation': [
                    
                        {img: 'img/poi-pic.png', title: 'Hotel Belvedere', votes: {up: 2, down: 1}},
                        {img: 'img/poi-pic.png', title: 'Golden Sands Hotel', votes: {up: 3, down: 1}},
                        {img: 'img/poi-pic.png', title: 'Ritz', votes: {up: 5, down: 0}}                    
                    
                    ],
                   'event': [
                    
                        {img: 'img/poi-pic.png', title: 'Open Air Musical', votes: {up: 4, down: 1}},
                        {img: 'img/poi-pic.png', title: 'Lady Caca Reloaded', votes: {up: 0, down: 5}},
                        {img: 'img/poi-pic.png', title: 'Gei Zi', votes: {up: 2, down: 0}}                    
                    
                    ]    
                },
                
                selected: 'landmark'                   
            }
            
            $scope.categoryNames = function(){
                return Object.keys($scope.categories.data);
            }
            
            $scope.setCategory = function(category){
                $scope.categories.selected = category;
                //window.alert(category);
            }            
        }
        
               
        
        function UsersCtrl($scope) {
        
            $scope.users = [
                {img: 'img/user-pic.png', name: 'Marian Popescovici'},
                {img: 'img/user-pic.png', name: 'Eugen Ionescu'},
                {img: 'img/user-pic.png', name: 'Mircea Cozonac'},
                {img: 'img/user-pic.png', name: 'Andrei Marinica'},
                {img: 'img/user-pic.png', name: 'Marian Ionescu'}
            ]
            
            $scope.messages = [
                {sender: 'Marian Popescovici', content:'I will be searching for a place to stay, something cheap so that we don\'t sleep in the car'},
                {sender: 'Andrei Marinica', content:'Great idea !'}
            ]
        
        }              
        
</script>
</html>